<a href=<?= $block->getCustomUrl() ?>>Take me to the integrations list</a>
<br />
<small>
    Simpler integration activation is required. Check our <a href="https://simpler.readme.io/docs" target="_blank">docs</a> for more information on why this is needed.
</small>